
ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  }


  #jumbotron{
    background-color: #AE0D7A;
    height: 40vh;
    border-radius:1% 1% 1% 1%;
    width:100%;
    top:0;
  }
  
  #h1 {
    color:#342809;
    font-size: 400%;
    font-family: 'Germania One', cursive;
    text-align:center;
    padding-top: 20px;

  }
  /* .cyan-text{color:white;} */
  
  
  #h2 {
    font-size:200%;
    font-family: 'Merriweather', serif;
    text-align:center;
    color:#448D76;
    font-weight: bolder;
    padding-bottom: 30px;

  }
 
  
  #body{
    background-color:lightblue;
    /* padding:auto; */
    height: 100vh;
    /* position:absolute; */
    display: flex;
    flex-direction: row;
  }


  .picture{
    width: 40%;
    height: 100vh;
    padding-bottom: 70px;

  }

  img{
    width: 100%;
    height: 100%;
  }
  .text{
    width: 60%;
    padding-left:20px;
    background: #F7D4EC;
  }

  .items{

    height: 50%;
  }

  footer{
    /* padding-top:40px; */
    /* position:fixed; */
    bottom:0;
    background-color:#342809;
    padding: 2em;
    color:#AE0D7A;
  }
  
  
  
  :link {
      color: white; 
      background-color: transparent; 
      text-decoration: none;
  }
  
  a:visited {
      color: blue;
      background-color: transparent;
      text-decoration: none;
  }
  
  a:hover {
      color: red;
      background-color: transparent;
      text-decoration: underline;
  }
  
  a:active {
      color: yellow;
      background-color: transparent;
      text-decoration: underline;
  } 


  .title{
    color:#FCBA12;
    font-size:30px;
  }


  

  @media only screen and (max-width: 800px) {

    #body{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .picture{
      width: 100%;

  
    }
    .text{
      width: 100%;
      height: auto;
    }
    /* .items{
      width: 50%;
    } */

    /* footer{ */
      /* bottom:0; */
      /* position:fixed; */

    /* } */

  }